
{%- style -%}
.product-carousel {
    max-width: 100%;
    overflow: hidden; 
    padding: 3rem 0px;
}
.carousel-img-div {
    width: 200px;
    position: relative;
    /* max-width: 100%;
    overflow: hidden; */
}

.slick-slide {
  display: inline-block;
 
}
.slick-slide img  {
    width: 100%;
    height: auto;
}
.quick-buy {
    /* display: none; */
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 10;
    font-family: Ciutadella Medium, Arial, Helvetica, sans-serif;
    background-color: #4E5B31;
}
.carousel-img-div:hover .quick-buy {
    display: block;
}
.main-prods-image {
    border-radius: 20px;
}
.product-link {
    width: auto;
    /* width: auto;
    max-height: 250px; */
}

@media screen and (min-width: 1000px) {
.main-prods-image {
    /* max-height: 200px; */
    max-width: 200px;
}
.slick-slide {
    max-width: 200px;
}
.carousel-img-div {
    max-width: 200px;
}
}

{%- endstyle -%}

<div class="product-carousel">
    <div class="product-carousel-imgs">
        {% assign main_collection = 'main-collection' %}
        {% assign products = collections[main_collection].products %}
        {% for product in products %}
            {% if product.images.size > 0 %}
                <div class="carousel-img-div">
                    <a href="{{ product.url }}" class="product-link">
                        <img src="{{ product.images.first | img_url: 'medium' }}" alt="{{ product.title }}" class="main-prods-image" width="100%" height="auto">            
                    </a>
                <button class="quick-buy" onclick="window.location.href='{{ product.url }}'">Buy Now</button>
                </div>
        {% endif %}
    {% endfor %}
    
    </div>
</div>

{% javascript %}
$(document).ready(function() {
    var $carousel = $('.product-carousel-imgs');
    // var slideCount = $carousel.find('.carousel-img-div');
    // for (var i = 0; i < slideCount; i++) {
    //     $carousel.find('.carousel-img-div').eq(i).clone().appendTo($carousel);     
    // }
    $carousel.slick({
        infinite: true,
        autoplay: true,
        autoplaySpeed: 2000,
        slidesToScroll: 1,
        centerMode: true,
        centerPadding: '0px', 
        responsive: [ 
            {   
                breakpoint: 1024,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 1,
                    arrows: false
                  
                }
            }, 
            {   
                breakpoint: 768,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    arrows: false                  
                }
            }, 
            {   
                breakpoint: 480,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    arrows: false

                }
            }
        ]
    });
});
{% endjavascript %} 

{% schema %}
{ 
    "name": "Product Carousel",
    "settings": [],
    "blocks": [
        { 
            "type": "product-rank-1",
            "name": "Product Image 1",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "Product Image"
                },
                {
                    "type": "text",
                    "id": "alt_1",
                    "label": "Image Alt Text"
                }
            ]
        },
        { 
            "type": "product-rank-2",
            "name": "Product Image 2",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Product Image"
                },
                {
                    "type": "text",
                    "id": "alt_2",
                    "label": "Image Alt Text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Default",
            "category": "Custom"
        }
    ]
}
    
{% endschema %}