
.banner--about-page .banner__media {
  margin: 0 auto; 
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: white;
}

div.banner__media.media > img {
  position: relative !important; 
  border-radius: 20px; 
  width: 100%;
  max-width: 100%;
  height: auto;
  
}
.multicolumn-card .content-container {
    background: transparent;

}

#gb-card__info .gb-multicol-p p {
    margin-bottom: 15px;
}
#gb-bold-text {
    font-family: "Ciutadella Medium", Arial, Helvetica, sans-serif;
}
.gb-products-1 {
    background-color: #fff;
    color: #4E5B31;
    border-radius: 25px;
    width: 158px;
    height: 50px;
    line-height: 50px;
    float: left;
    text-transform: uppercase;
    font-family: "Ciutadella Medium", Arial, Helvetica, sans-serif;
}
.gb-hp-slider-mobile-2 ul li:nth-child(2){
    display: none;

}
.gb-hp-slider-mobile-2 {

  
    margin:0 20px 20px 20px;

    /* padding: 40px 50px; */
    
}
#gb-inline-richtext-2 {
    font-family: Ciutadella Medium, Arial, Helvetica, sans-serif;
    font-size:28px;
    /* font-size: 1.75rem; */
    line-height: 120%;
    margin-bottom: 1em;
}
#gb-inline-richtext-2, .gb-multicol-p {
    color: white;
    text-align: left;
}


#Slide-template--17660778119320__multicolumn_2_Q6HgYn-3 {

} 

@media (max-width: 869px) {
    .gb-hp-slider-mobile-2 ul li:nth-child(1){
        padding-left: calc(var(--padding-mobile) + 20px);
        padding-right: calc(var(--padding-mobile) + 20px);

        padding-top: calc(var(--section-space) - 70px);
        padding-bottom: calc(var(--section-space) - 70px);
    }
    .gb-hp-slider-mobile-2 ul li:nth-child(3){ 
        display: none;
        padding-left: calc(var(--padding-mobile) + 20px);
        padding-right: calc(var(--padding-mobile) + 20px);

    }
    .gb-hp-slider-mobile-2  {
        padding-bottom: calc(var(--section-space) - 70px);
    }
}
.banner__heading {
    font-family: "Ciutadella Medium", Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 45px;
    margin-top: 0px;
    line-height: 45px;

}
.image-with-text {
    background-color: #4E5B31;
    border-radius: 20px;
}
/* .contained { */
.gb-contained {
    max-width: calc(var(--wrap-regular) + var(--padding));
}
.image-with-text__heading {
    font-family: "Ciutadella Medium", Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-align: left;
    margin: 0px;
    font-size: 28px;
    line-height: 28px;
}

.shopify-section:nth-child(4) > div > div > div > div > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item > div.image-with-text__media.image-with-text__media--adapt.global-media-settings.background-transparent.media > img {
    width: 100%;
    height: auto;
    left: 0;
    /* border-radius: 20px; */
    /* max-width: 340px; */
}
.image-with-text__media {
    position: relative;
    top: 15px;

}
.image-with-text__heading {
    /* text-transform: uppercase; */
    display: none;
}
.image-with-text__text {
    color: #fff;
    font-size: 18px;
}
.shopify-section:nth-child(4)  {
    margin: 0 20px;
}
.shopify-section:nth-child(4) > div > div > div > div > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item {
    width: 53%;
}
.image-with-text__content {
    display: flex;
    justify-content: center;
    /* padding: 40px 50px 80px 50px; */
}
.shopify-section:nth-child(4) > div > div > div > div > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item > div.image-with-text__media.image-with-text__media--adapt.global-media-settings.background-transparent.media {
/* padding-bottom: 80%; */
}
/* .rich-text__heading {
    font-size: 45px ;
} */
#gb-hp__heading {
    font-size: 45px;
}
.product__title {
    /* margin-bottom: 0px !important; */
}
.gb-pgs-about .marquee-section {
    padding-bottom: 0px;
}
.shopify-section:nth-child(9) {
    padding-bottom: 0px;
    /* padding-top: 20px; */
}

@media screen and (min-width: 750px) {
    .image-with-text__media-item {

    }
    .image-with-text__heading {
        display:block;
    }
    .image-with-text {
        max-height:500px;
        max-width: 1250px;
        margin: 0 auto;
    }
    .shopify-section:nth-child(4) > div > div > div > div > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item {
        width: 37%;
    
        margin: 60px 0px;
    }
    .image-with-text__media {
        top: 0px;
    }
    .image-with-text__content {
        padding-left: 10px;
    }
    .image-with-text__content {
        /* padding: 90px 50px 90px 40px; */
    }
}
/* @media (max-width: 959px) {
    h2, .h2 {
        font-size: 2.1875rem;
    }
} */
@media screen and (min-width: 870px) { 
    #gb-inline-richtext-2 {
        font-size: 35px;
    }
    .gb-multicol-p {
        font-size: 20px;
    }
    .gb-hp-slider-mobile-2 ul li:nth-child(0) {
        padding-top: calc(var(--section-space) - 70px);
        padding-bottom: calc(var(--section-space) - 70px);
    }
    .gb-hp-slider-mobile-2 ul li:nth-child(3) {
        display: none;
    }
    .gb-hp-slider-mobile-2 ul li:nth-child(2) {
        display: inline;
        border-top-right-radius: 20px;
    }
    .gb-hp-slider-mobile-2 ul li:nth-child(2) div div div img {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    /* .gb-hp-slider-mobile-2 ul li:nth-child(1) {
        padding-top: calc(var(--section-space) - 70px);
        padding-bottom: calc(var(--section-space) - 70px);
      
    } */
    #gb-card__info {

        padding-left: var(--padding-mobile);
        padding-right: var(--padding-mobile);
       
    }
    .gb-hp-slider-mobile-2 ul li:nth-child(1) .multicolumn-card{
        
        display: flex;
        align-items: center;
    }
     
    .multicolumn-list__item:nth-child(1) {
        padding-top: calc(var(--section-space) - 70px);
        padding-bottom: calc(var(--section-space) - 70px);
    }
    .media--transparent {
        height: 100%;
    }
    .multicolumn-list__item.center .media--adapt, .multicolumn-list__item .media--adapt .multicolumn-card__image {
        display: block;
        object-fit: cover;
        position: relative;
    }
    .multicolumn-card {
        height: 100%;

    }
    .background-none .multicolumn-card__image-wrapper {
        height: 100%;
    }

   
    .growinbag-text p {
        font-size: 20px;
    }
    .image-with-text__content {
        /* padding: 150px 100px 150px 40px; */
    }
    .shopify-section:nth-child(4) > div > div > div > div > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item {
        width: 44%;
        max-width: 450px;
        /* padding: 20px 0px; */
    }
    .image-with-text__heading {
        font-size: 35px;
    }
    .image-with-text__text {
        font-size: 20px;
    }
   
}

@media screen and (min-width: 900px) { 
  .banner--about-page .banner__media,  .banner--about-page { 
    height: 480px;
  }
  .image-with-text__content { 
    /* padding: 0px 0px 0px 10px; */
  }
  
}
@media screen and (min-width: 960px) { 
    #gb-inline-richtext-2 {
        font-size: 48px;
    }
.image-with-text__heading {
    font-size: 48px;

}
.image-with-text__text {
    margin-top: 30px;
}
}
@media screen and (min-width: 1000px) { 
    .banner--about-page .banner__media,  .banner--about-page { 
        height: 547px;
    }
    .banner--about-page {
        margin: 0 50px;
    }
    #gb-hp__heading {
        font-size: 64px;
    }
    .shopify-section:nth-child(4) > div > div > div > div > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item > div.image-with-text__media.image-with-text__media--adapt.global-media-settings.background-transparent.media > img {
       
        max-width: 410px;
    }
    
 }
 @media screen and (min-width: 1000px) {
    .shopify-section:nth-child(4) > div > div > div > div > div.image-with-text__media-item.image-with-text__media-item--small.image-with-text__media-item--top.grid__item {
        margin: 20px 0px;
    }
    
 }
 @media screen and (min-width: 1200px) { 
    .banner--about-page {
        margin: 0 80px;
    }
    .banner--about-page .banner__media img {
        width: 960px !important;
        margin: 0 auto;
    }
    .image-with-text__content {
        /* padding: 170px 10rem 170px 40px; */
    }
    .image-with-text__text {
        max-width: 85%;
    }
    
 }
 @media screen and (min-width: 1300px) {
    .multicolumn-list__item:nth-child(1) {
        padding-left: var(--padding);
        padding-right: var(--padding);
        padding-top: var(--section-space);
        padding-bottom: var(--section-space);
    }
 }
 @media screen and (min-width: 1400px) { 
    .banner--about-page {
        margin: 0 120px;
    }
 }
 @media screen and (min-width: 1600px) { 
    .banner--about-page {
        margin: 0 120px;
    }
    
 }