.page-width {
    /* padding: 0 20px; */
}
.multicolumn .page-width {
    padding-bottom:20px !important;
    padding-top:0px !important;
}
.slider-mobile-gutter {
    /* padding: 50px 40px 50px 40px; */
    padding: 0 0 20px 0px; 
    margin: 0 20px;
}
.multicolumn-list:not(.slider) {
    padding: 50px 40px 50px 40px;
}
div.slideshow__controls.slider-buttons.slideshow__controls--border-radius-mobile {
    display: none;
}

slideshow-component > div.slideshow__controls.slider-buttons {
    display: none;
}

.slideshow__media img {
    border-radius: 20px;
}
.slideshow__media {
    background-color: white;
}
.banner__heading  {
    color: #fff;
    font-family: "Ciutadella Medium", Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 55px;
    margin-top: 0px;
    line-height: 100%;
    text-shadow: 2px 1px 3px hsl(79, 23%, 21%);


}
.banner__text {
    font-family: Ciutadella Regular, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    width: 80%;
    text-shadow: 2px 1px 3px hsl(79, 23%, 21%);
}
.multicolumn .page-width {
    padding:0px;
}
.header-row {
    width: 100%;
}
.media {
    /* position: relative;
    height: 400px;
    overflow: hidden; */
}
.media>img {
    object-position: center bottom;
}


@media (max-width: 600px) { 
/* p.gb-inline-richtext-4 {
    font-size: 14px;
} */
}

@media screen and (min-width: 768px) {
    .banner__heading {
        font-size: 64px;

    }
    .banner__text {
        font-size: 18px;
  
    }
    .gb-hp-slider-mobile, .gb-hp-slider-mobile-2, .gb-hp-slider-mobile-3 {
        /* margin: 0 30px 0 30px; */
    }
    .slider-mobile-gutter  {
        margin: 0 30px;
    }
    .gb-hp-slider-mobile-2 {
        margin: 0 30px;
        /* margin: 0 auto; */
    }
}

@media screen and (min-width: 960px) { 
    .banner__heading {
        font-size:100px;
     
    }
    .banner__text {
        font-size:20px;
    }
    .button--primary  {
        height:63px;
        font-size: 20px;
    }
    .banner--medium:not(.banner--adapt) {
        min-height: 75rem;
    }
   
}
@media screen and (min-width: 1000px) {
    
    .rich-text__heading {
        font-size:100px;

    }
}
@media screen and (min-width: 1220px) {
    .marquee-text-1 {
        font-size: 120px;
  
    }
    .marquee-text {
        padding: 60px 0px;
        margin: 0px;
    }
}
@media screen and (min-width: 1300px) { 
#gb-card__info {
    padding: 100px;
}
.gb-media-1 {
    top: 150px;
    right:30px;
}
.media>img { 
    object-position: 50% 80%;
}
/* .media {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.media>img {
    object-fit: cover;
    width: 100%; 
    height: auto;
   

} */
}

@media screen and (min-width: 1700px) {

    .slider-mobile-gutter {
        margin: 0 auto;
    }
    .gb-hp-slider-mobile-2 { 
        margin: 0 auto;
    }
    
 }